.container {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.container img {
width: 100px !important;
margin-top: 80px !important;
}
.product__container {
  width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
/* ===== CART LIST SECTION ===== */
.cart_container {
  padding: 20px;

}
.cart_container h2,
.cart_container h3 {
  padding: 10px;
}


/* .cart_container hr {
  margin: 5px;
} */
/* CART ITEM SECTION */
.cart_container section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
.cart_container section:last-child {
  border-bottom: none;
}
/* ===== QUANTITY BUTTONS ===== */
.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.btn_container span {
  font-size: 16px;
  font-weight: 600;
}
/* ===== SUBTOTAL BOX ===== */
.subtotal {
  padding: 20px;
  min-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(242, 241, 241);
  border-radius: 5px;
}

.subtotal div p {
  font-size: 16px;
  margin-bottom: 6px;
}

.subtotal > div,
.subtotal span {
  display: flex;
  gap: 20px;
}
.subtotal a {
  text-align: center;
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  color: #000;
}

.subtotal a:hover {
  background: var(--primary-shade);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    order: 1;
  }

  .subtotal {
    width: 100%;
  }
}