
.category_container{
  padding: 20;
  /* position: relative; */
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  /* place-items: center;
   */
    gap: 20px;
    
}
 
