 .category_card {
  width: 100%;
  
  max-width: 280px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.category_card img {
  width: 80%;
  object-fit: contain;
 
  padding: 0px 10px;
  height: 300px;
  border-radius: 6px;
  margin: 10px 0;
  overflow: hidden;
  

}





.category_card h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-align: center;

}


.category_card p{
 
  font-weight: bold;
  color: rgb(9, 132, 209);
  margin-top: 5px;

} 