
.category_container{
  display:grid !important;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr)) !important;
  position: relative;
  top: -10%;
  padding: 20px;
  margin-top: 2%;
  place-items: center;
  gap: 20px;
  z-index: 30;
  
}
 
