.productCard {
  width: 250px;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: #000;
}

/* .productCard:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} */
/* .productCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

/* Hover enabled ONLY when this class exists */
.hoverable:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.productCard__img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  padding: 10px;
}

.productCard__info {
  margin-top: 10px;
}

.productCard__title {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  /* height: 38px; */
  /* overflow: hidden; */
}

.productCard__price {
  font-size: 18px;
  font-weight: bold;
  margin: 6px 0;
  color: #b12704;
}

.productCard__category {
  font-size: 12px;
  color: gray;
}
.productCard__btn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  padding: 5px 10px;
  font-weight: 700;
  border: 1px solid #a88734;
  cursor: pointer;
  background: var(--primary-color);
  width: 80%;
  margin: 10px 0;
  border-radius: 30px;
  position: absolute;
  bottom: 0px;
  left: 10%;
}

.productCard:hover .productCard__btn {
  opacity: 1;
  visibility: visible;
}
.productCard__rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.productCard__ratingCount {
  font-size: 13px;
  color: #555;
  line-height: 1;
}
.product__flexed {
  box-shadow: none;
  height: 50vh;
  display: flex;
  gap: 50px;
  width: 100%;
}
.product_flexed .productCard_btn {
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}
.product__flexed img {
  width: 250px !important;
  height: auto;
  /* margin-top: 30%; */
}
.product__flexed h3 {
  padding: 20px 0;
  /* font-size: 1.5rem; */
}
@media screen and(max-width:768p) {
  .product__flexed {
    display: flex;
    flex-direction: column;
  }
}